<div class="login-main">
  <div class="card">
    <div class="card-body login-card">
      <div class="login-box">
        <h1>Login</h1>
        <h5>Bem-vindo de volta! Faça login para acessar sua conta.</h5>
      </div>

      <div class="login-divider"></div>

      <form class="login-box">
        <div class="mb-3 mt-4 login-input">
          <label for="exampleFormControlInput1" class="form-label">Email:</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" formControlName="name" required>
        </div>

        <div class="mb-3 mt-4 login-input">
          <label for="exampleFormControlInput1" class="form-label">Password:</label>
          <input type="password" class="form-control" id="exampleFormControlInput1" formControlName="name" required>
        </div>

        <button type="submit" class="btn btn-dark mt-4 btn-lg">Sign In</button>
      </form>
    </div>
  </div>
</div>
