<div class="project-box container-md mt-5 shadow-none p-3 mb-5 bg-body-tertiary rounded">
  <div class="d-flex justify-content-between gap-1">
    <input type="text" class="form-control input-search" a ria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default" placeholder="Pesquisar...">
    <button type="button" class="btn btn-dark new-project-button" routerLink="/projetos/novo">+ Novo Projeto</button>
  </div>

  <table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Descrição</th>
        <th class="text-center" scope="col">Data de Criação</th>
        <th class="text-center" scope="col">Data de Edição</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngFor="let project of listProject">
      <tr>
        <th scope="row">{{project.id}}</th>
        <td>{{project.name}}</td>
        <td>{{project.description}}</td>
        <td class="text-center">{{project.createdAt | date: 'dd/MM/yyyy'}}</td>
        <td class="text-center">{{project.updatedAt | date: 'dd/MM/yyyy'}}</td>
        <td>
          <i class="bi bi-pencil-square text-primary me-2" style="font-size: 1.1rem;" [routerLink]="['/projetos/editar', project.id]"></i>
          <i class="bi bi-trash3-fill text-danger" style="font-size: 1.1rem;" data-bs-toggle="modal"
            data-bs-target="#deleteProjectModal"
            (click)="selectProject(project)"></i>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="deleteProjectModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
  style="display: none;" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalCenterTitle">Remover projeto!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Deseja excluir o projeto {{projectSelected?.name}}?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProject()">Deletar</button>
      </div>
    </div>
  </div>
</div>
